.usersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.user {
  width: 100%;
  margin: 20px;
}


.linkItem{
  text-decoration: none
}